<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Appointments</title>
    <link rel="stylesheet" href="{% static 'view_appointments.css' %}">
</head>
<body>
    <h1>Appointments List</h1>
    <table>
        <thead>
            <tr>
                <th>Doctor</th>
                <th>Patient</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.doctor.name }}</td>
                <td>{{ appointment.patient.name }}</td>
                <td>{{ appointment.app_date|date:"Y-m-d" }}</td>
                <td>{{ appointment.status }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No appointments found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
