<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest Posts</title>
    <link rel="stylesheet" href="../../../../static/normalize.css">
    <link rel="stylesheet" href="../../../../static/styling.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <main>
        <!-- Posts section -->
        <section id="posts" class="posts py">
            <div class="container">
                <div class="section-head">
                    <h2>Latest Posts</h2>
                </div>
                <div class="posts-inner grid">
                    <article class="post-item bg-white">
                        <div class="img">
                            <img src="https://th.bing.com/th/id/OIP.nWdaPuXbuQiRJ7P4liyN6AHaDt?w=300&h=174&c=7&r=0&o=5&dpr=1.5&pid=1.7">
                        </div>
                        <div class="content">
                            <h4>Inspiring stories of person and family centered care during a global pandemic.</h4>
                            <p class="text text-sm">With restrictions on hospital visitations, we went above and beyond to facilitate virtual connections between patients and their families.</p>
                            <p class="text text-sm">In challenging circumstances where families couldn't be present during their loved ones' final moments, our healthcare team provided compassionate end-of-life care.</p>
                            <div class="info flex">
                                <small class="text text-sm"><i class="fas fa-clock"></i> November 26, 2020</small>
                                <small class="text text-sm"><i class="fas fa-comment"></i> 10 comments</small>
                            </div>
                        </div>
                    </article>

                    <article class="post-item bg-white">
                        <div class="img">
                            <img src="https://th.bing.com/th/id/OIP.UzIq1VC2IZ7qzsbfCJAM4gHaEc?w=257&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7">
                        </div>
                        <div class="content">
                            <h4>May is Mental Health Awareness Month.</h4>
                            <p class="text text-sm">Join us in recognizing Mental Health Awareness Month this May! At City Hospital, we understand the importance of mental health and are committed to promoting awareness, reducing stigma, and supporting those affected by mental health conditions.</p>
                            <div class="info flex">
                                <small class="text text-sm"><i class="fas fa-clock"></i> October 15, 2022</small>
                                <small class="text text-sm"><i class="fas fa-comment"></i> 5 comments</small>
                            </div>
                        </div>
                    </article>

                    <article class="post-item bg-white">
                        <div class="img">
                            <img src="https://th.bing.com/th/id/OIP.ER5fi7n38KRD5CGuMWay3gHaE8?rs=1&pid=ImgDetMain">
                        </div>
                        <div class="content">
                            <h4>Tips for Managing Stress During the Holidays.</h4>
                            <p class="text text-sm">The holiday season can be stressful. Discover practical tips from our experts on how to prioritize self-care and manage stress effectively.</p>
                            <div class="info flex">
                                <small class="text text-sm"><i class="fas fa-clock"></i> December 10, 2010</small>
                                <small class="text text-sm"><i class="fas fa-comment"></i> 20 comments</small>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <!-- End of posts section -->
    </main>
</body>
</html>